html,
body {
    margin: 0;
    position: relative;
    height: 100%;
    /* font-family: Source Sans Pro, sans-serif; */
    /* font-weight: 500; */
    background-color: #F8F9FA;
    font-size: 10px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Fade In Animation */

body {
    animation: fadeInAnimation ease 1.34s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    /* box-sizing: border-box; */
}

*:before,
*:after {
    /* box-sizing: border-box; */
}


/* Footer Related */

.page-container {
    min-height: 100vh;
    position: relative;
}

.content-wrapper {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 2.5rem;
    /*  */
    font-size: .75rem;
    text-align: center;
}

@media (min-width: 600px) {
    html,
    body {
        font-size: 14px;
    }
}